.container-fluid {
  /* background: url("back_landing1.png"), 
  background-size: cover;
  background-position: center; */
  background: #f9d7ff;
}
html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .card-text {
    font-size: 0.5px;
  }
}
#awal {
  padding-top: 28vh;
}
#kami {
  padding-top: 10vh;
}
#produk {
  padding-top: 10vh;
}
#kucing {
  padding-top: 10vh;
}
#jasa {
  padding-top: 10vh;
}
#perawatan {
  padding-top: 5vh;
  padding-bottom: 10vh;
}
.card {
  margin: 0 auto;
  float: none;
}
.carousel {
  width: 30vw;
}
#review {
  padding-left: 35%;
  padding-bottom: 5vh;
}
body {
  width: 100%;
  height: 100%;
}
#tombol {
  font-size: 1rem;
  height: 4vh;
  width: 8vw;
}
#navbar {
  background-color: #f2a8ff;
  font-size: larger;
}
.btn-outline-dark {
  background-color: #dc1afe;
  color: #000;
  letter-spacing: 1px;
  text-size-adjust: inherit;
  line-height: 18px;
  border-radius: 10rem;
}
h1 {
  font-size: 4.5vw;
  text-align: center;
}
h3 {
  font-size: 2.5vw;
}
#info {
  font-size: 1vw;
}
.card-title {
  font-size: 1.5vw;
}
/* .card-text {
  font-size: 1vw;
} */
.list-group-item {
  font-size: 0.3vw;
}
.carousel-item {
  color: #000;
  background-color: #f2a8ff;
}
.carousel-inner {
  border-color: #000;
  border: #000;
}
