.container-fluid {
  /* background: url("back_landing1.png"), linear-gradient(to left, #fbe5ff, #fff);
  background-size: cover;
  background-position: center; */
  background: #fbe5ff;
}

body {
  width: 100%;
  height: 100%;
}
#tombol {
  font-size: 0.2vh;
  height: 4vh;
  width: 11vh;
}
#navbar {
  background-color: #f2a8ff;
  font-size: larger;
}
.btn-outline-dark {
  background-color: #dc1afe;
  color: #000;
  letter-spacing: 1px;
  text-size-adjust: inherit;
  line-height: 18px;
  border-radius: 30px;
}
h1 {
  font-size: 4.5vw;
  text-align: center;
}
h3 {
  font-size: 2.5vw;
}
#info {
  font-size: 1vw;
}
.card-title {
  font-size: 1.5vw;
}
.card-text {
  font-size: 1vw;
}
#pinggir {
  padding-left: 2.3vw;
}
.list-group-item {
  font-size: 0.3vw;
}
