body{
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
td{
    text-align: center;
}

td:hover{
    color: red;
    text-shadow: 1px 1px red;
}
table{
    text-decoration-style: 1px 1px red;
}