body{
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
h1{
    font-size: 4em;
}
body{
    color : black;
}
td{
    text-align: center;
}

td:hover{
    color: white;
    text-shadow: 1px 1px white;
}
tr{
    color: white;
}